body, html{
    margin: 0;
    height: 100%;
}

main{   
    background: linear-gradient(120deg,rgba(88, 171, 219, 0.8) 0%, rgba(135, 222, 173, 0.8) 62%);
    font-family: "Montserrat", sans-serif;
    height: auto;
    height: 100%;
}

h2{
    display: flex;
    justify-content: space-evenly;
    margin-top: 0;
}

.bordesCarrito{
    max-width: 1200px;
    /* border: 2px solid black; */
    margin: 0 auto;
    padding-top: 3em;
    padding-bottom: 2em ;
}

.divisionCarrito{
    display: flex;
}

/*TABLA CARRITO*/
.recuadroCarrito{
    /* border: 2px solid white;  */
    width: 800px;
}

.tablaCarrito{
    width: 100%;
    /* border: 2px solid pink; */
    text-align: left;
    border-collapse: collapse;
}

.tablaCarrito th{
    /*border: 2px solid green;*/
    line-height: 3em;
    border-bottom: 3px solid lightgray;
    border-inline-end: 2px  ;
}

.tablaCarrito td{
    /*border: 2px solid purple;*/
    line-height: 3em;
    border-bottom: 1.5px solid lightgray;
    min-height: 1em;
}
.tablaCarrito img{
    width: 70px;
}
.cantidadElementos{
    width: 4em;
}

.cuadroPago{
    width: 25em;
    height: 35em;
    /* border: 2px solid orange; */
}

/*TABLA RESUMEN*/
.recuadroResumen{
    /* border: 2px solid greenyellow; */
    width: 400px;
    height: 500px;
    margin-left: 2em;
}

.recuadroResumen h3{
    text-align: center;
}

.recuadroResumen li{
    list-style: none;
}

.tablaResumen{
    border-collapse: collapse;
    width: 100%;
    font-size: large;
}

.tablaResumen th{
    text-align: left;
    /* border: 2px solid brown; */
    width: 100px
}

.tablaResumen td{
    /* border: 2px solid salmon; */
    text-align: right;
}
.tablaResumen li{
    margin-bottom: 0.7em;
}

#borrarElemento{
    background-color: transparent;
    border: none;
}

#borrarElemento img{
    width: 30px;
    display: flex;
    margin-top: 1em;
    filter: invert(100%);
}

#borrarElemento:hover{
    transform: scale(120%);
}

.logoCesto{
    width: 2.4em;
}

#botonVaciarCarro{
    display: flex;
    align-items: center;
    background-color: transparent;
    border: none;
    margin-top: 1em ;
    transition: transform 0.2s;
}
#botonVaciarCarro:hover{
    transform: scale(105%);
    transition: linear 0.2s;
}  

#botonPasopago{
    width: 100%;
    height: 3em;
    border-radius: 16px;
    border: none;
    background-color: #e7f0b3;
    margin-top: .7em;
    font-size: medium;
    cursor:grabbing;
}