body, html {
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Montserrat', sans-serif;
}
/*HEADER*/
header{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background: linear-gradient(90deg, rgb(23, 94, 134) 0%, hsla(176, 45%, 66%, 1) 100%);
    height: 120px;
}

.entradaTexto{
    display: flex;
    position: absolute;
    height: 35px;
}

.campoEntrada{
    border-radius: 8px;
    width: 40em;
    height: 2.3em;
    transition: transform 0.15s;
}

.campoEntrada:hover{
    transform: scale(105%);
    transition: linear 0.3s;
}


.logo{
    display: flex;
    justify-content: center;
    position: absolute;
    left: 350px;
}

.logoMarca{
    width: 180px;
    align-items: center;
    transition: transform 0.5s;
}

.logoMarca:hover{
    transform: scale(105%);
    transition: linear 0.2s;
    filter:drop-shadow(1px 0.5px 10px #c9edff);
}

.cuenta{
    position: relative;
    display: flex;
    right: -580px ;
    gap: 10em;
}

.wordCarrito{
    text-decoration: none;
    color: black;
}

.inicioSesion, .carrito{
    display: flex;
    align-items: center;
    right: -5px;
    gap: 5px;
    padding: 10px;
}
.logoUsuario{
    width: 35px;
}
.textoInicio{
    display: flex;
    flex-direction: column;
}
.palabraInicio{
    margin: 0;
}
.inicioPalabra{
    text-decoration: none;
    color: black;
}

.botonCarrito{
    width: 35px;
}

.inicioSesion:hover{
    background-color: #c9edff;
    border-radius: 10px;
    font-size: 17px;
    transition: linear 0.2s;
}

.carrito:hover{
    background-color: #c9edff;
    padding: 10px;
    border-radius: 10px;
    font-size: 17px;
    transition: linear 0.2s;
}


nav{
    background: linear-gradient(5deg, rgb(23, 94, 134) 0%, hsla(176, 45%, 66%, 1) 100%);
    height: 35px;
}

nav button,
nav a{
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
}

.botones{
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
}

.botonMenu{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 3px;
    gap: 3px;
    background-color: transparent;
    border: none;
    font-size: 18px;
}

.botonMenu:hover{
    transform: scale(110%);
    transition:linear 0.2s;
    cursor:grab;
    filter:drop-shadow(0px 0px 10px #c9edff);
}

.botonesNav{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: black;
    font-size: 18px;
}

.botonesNav:hover{
    transform: scale(107%);
    transition: linear 0.25s;
    background-color: #c9edff;
    margin: 5px;
    padding: 2px;
    border-radius: 8px;
}

/*FORM*/

.main-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 110px;
  min-height: 50vh;
  background: linear-gradient(120deg,rgba(88, 171, 219, 0.8) 0%, rgba(135, 222, 173, 0.8) 62%);
}

.form-container {
  background-color: #f2f2f2;
  padding: 30px 40px;
  border-radius: 20px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.15);
  width: 400px;
  border: 2px solid #999;
  text-align: center;
  padding-top: 50px;
}

.form-container h2 {
  margin-bottom: 20px;
  margin-top:0px;
}

.form-container form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.form-container label {
  margin-top: 10px;
  margin-bottom: 5px;
  display: block;
  text-align: left;
}

.form-container input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.form-container button {
  background-color: #f5fdd8;
  border: 1px solid #ccc;
  padding: 12px;
  width: 100%;
  border-radius: 25px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.form-container button:hover {
  background-color: #e7f0b3;
}

.links {
  margin: 15px 0;
  font-size: 1em;
    color:#000;
}

.links a {
  text-decoration: none;
  color: #333;
  margin: 0 20px;
}

/*FOOTER*/

footer{
    background-color: black;
    margin: 0;
    padding: 0%;
    font-family: "Monserrat" , sans-serif;
    padding-top: 0.5em;
    padding-bottom: 2em;
}

footer img{
    width: 40px;
    height: auto;
}

.columnasFooter{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.columnasFooter *{
    text-align: start;
    color: white;
    font-style: italic;
}

.columna1{
    display: grid;
    align-items: center;  
    gap: 15px;  
}

.textoFotofooter{
    display: flex;
    align-items: center;
    gap: 15px;
}

.columna2 ul{
    display: grid;
    gap: 15px;
}

.columna3 ul{
    padding: 0;
    margin: 0;
    display: grid;
    gap: 15px
}